<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Universal Tutorial</h1>
      <p class="lead text-muted">
        This is the demo page to demostrate the Angular App Shell and currently it's WITHOUT App Shell
      </p>
      <p>
        <a href="https://www.universal-tutorial.com/angular-tutorials/angular-app-shell"
          class="btn btn-primary my-2 m-2">Go back to Original Article</a>
        <a href="https://universal-tutorial-app-shell.herokuapp.com/" class="btn btn-secondary my-2 m-2">Go to App WITH Angular App Shell</a>
      </p>
    </div>
  </section>
</main>
